extends layout

block content
  
  //- input - search parameters
  //- "empty" action to prevent redirection
  form.form-horizontal(method = 'get' action="javascript:void(0);", id = "main_form")
    
    .form-group
      label.col-sm-2.control-label(for = 'percent') Minimální procento neúspěšných přihlášení:
      .col-xs-3
        input.form-control(type = 'text', placeholder = '10', id = "percent", name = "percent")
    
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type = 'submit', id = "failed_logins_search") Hledej


  div
    h2(id = "results_h")
    table(id = "results", class = "table table-bordered")
  

block includes
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/failed_logins_search.js')
