extends layout

block content
  div(id="main")
    //div(ng-view)
    div(ui-view)

block includes
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js')
  script(src='/javascripts/angular-ui-router.js')
  // TODO include minified
  script(src='/javascripts/main.js')
  script(src='/javascripts/controllers.js')
  script(src='/javascripts/routes.js')

