extends layout

block content
  div(ng-view)

//- TODO



block includes
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js')
  script(src='/javascripts/search.js')

