extends layout

block content
  div(id="main")
    div(ui-view)

block includes
  // TODO include minified

  script(src='/javascripts/angular_1.5.8.js')
  script(src='/javascripts/dirPagination.js')
  script(src='/javascripts/angular-ui-router.js')

  // TODO include minified

  script(src='/javascripts/main.js')
  script(src='/javascripts/controllers.js')
  script(src='/javascripts/routes.js')

  link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

