extends layout

block content
  div(id="main")
    div(ui-view)

block includes

  // TODO
  //script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
  //script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
  //script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js')
  //script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
  //script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js')
  //script(src='https://material.angularjs.org/latest/angular-material.min.js')


  //- ===========================================================================
  //- javascripts
  // TODO include minified

  script(src='/javascripts/angular_1.5.8.js')
  script(src='/javascripts/dirPagination.js')
  script(src='/javascripts/angular-ui-router.js')

  script(src='/javascripts/main.js')
  script(src='/javascripts/controllers.js')
  script(src='/javascripts/routes.js')
  script(src='/javascripts/flatpickr.js')
  script(src='/javascripts/flatpickr.l10n.cs.js') //- localization

  script(src='/javascripts/d3.v4.min.js')
  script(src='/javascripts/d3-tip.js')

  //- ===========================================================================
  //- css
  link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/flatpickr.min.css')

  // TODO include minified
  link(rel='stylesheet', href='/stylesheets/graph.css')
  link(rel='stylesheet', href='/stylesheets/table.css')
  link(rel='stylesheet', href='/stylesheets/loading.css')

