doctype html
html(ng-app="etlog")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title(ng-bind='title')

  body
    block content
    include ./navbar.pug
    include ./navbar_includes.pug
    block includes
