doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
 
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/moment-with-locales.js')
    script(src='/javascripts/bootstrap-datetimepicker.js')
    script(src='/javascripts/modernizr.custom.js')
    script(src='/javascripts/global.js')

  body
    block content
