//- taken from https://github.com/ALT-F1/bootstrap3-jade-node-express-grunt/blob/master/app/views/bootstrap3-templates/navbar-fixed-top.jade

.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='https://radlog.cesnet.cz/') Obecné Vyhledávání
        li
          a(href='/mac') Mac adresy
        li
          a(href='/failed_logins') Přihlášení
        li
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Roaming
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='/roaming') Organizace nejvíce využívají roaming
            li
              a(href='/inst_roaming') Organizace nejvíce poskytující roaming
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href='./') prihlaseny uzivatel
      .nav-collapse

