//- taken from https://github.com/ALT-F1/bootstrap3-jade-node-express-grunt/blob/master/app/views/bootstrap3-templates/navbar-fixed-top.jade
//- Bootstrap core CSS
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
//- Custom styles for this template
link(rel='stylesheet', href='/stylesheets/navbar-fixed-top.css')
//- IE10 viewport hack for Surface/desktop Windows 8 bug
script(src='/javascripts/ie10-viewport-bug-workaround.js')
//- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
//-if lt IE 9
script(src='/javascripts/html5shiv.min.js')
script(src='/javascripts/respond.min.js')
script(src='/javascripts/jquery.min.js')
script(src='/javascripts/bootstrap.min.js')
