//- taken from https://github.com/ALT-F1/bootstrap3-jade-node-express-grunt/blob/master/app/views/bootstrap3-templates/navbar-fixed-top.jade

-var selected = 'Obecné Vyhledávání';

//-var menu = { 'home': '/', 'Mac adresy': '/mac', 'Přihlášení': '/failed_logins', 'dropdown' : '#' };
//-var menu = { 'Obecné Vyhledávání': '/', 'Mac adresy': '/mac', 'Přihlášení': '/failed_logins', 'dropdown' : '#' };
-var menu = {'Obecné Vyhledávání': '/', 'Mac adresy': '/mac', 'Přihlášení': '/failed_logins'};

.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        //li
        //  a(href='/') Obecné Vyhledávání
        //li
        //  a(href='/mac') Mac adresy
        //li
        //  a(href='/failed_logins') Přihlášení
        each val, key in menu
                  li
                    if selected === key
                      a.selected(href=val)= key
                    else
                      a(href=val)= key
        
        li
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Roaming
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='/roaming') Organizace nejvíce využívají roaming
            li
              a(href='/inst_roaming') Organizace nejvíce poskytující roaming
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href='./') prihlaseny uzivatel
      .nav-collapse


//each val, key in menu
//  h1= "val: '" + val + "'"
//  h1= "klic: '" + key + "'"
//  h1= "vybrano: '" + selected + "'"
//  h1= "= " + (selected = key)
//  h1= "=== " + selected === key
//  h1= "== " + selected == key
//  h1= "typeof sel: " + typeof(selected)
//  h1= "typeof key: " + typeof(key)


