//- taken from https://github.com/ALT-F1/bootstrap3-jade-node-express-grunt/blob/master/app/views/bootstrap3-templates/navbar-fixed-top.jade

nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
    .navbar-collapse.collapse.ng-scope(ng-controller='header_controller')
      a.navbar-brand(href='https://www.eduroam.cz/')
        img(src='eduroam.png', alt='logo služby eduroam')
      ul.nav.navbar-nav

        li(ng-class='{ active: is_active(["/search"])}')
          a(ui-sref='search') Vyhledávání

        li(ng-class='{ active: is_active([ "/mac_count", "/shared_mac", "/concurrent_users", "/concurrent_inst", "/failed_logins", "/detection_data", "/detection_data_grouped" ])}', ng-show='user.role != "user"')
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Diagnostika
            span.caret
          ul.dropdown-menu(role='menu')

            li
              a(ui-sref='mac_count') Počet zařízení na uživatele

            li
              a(ui-sref='shared_mac') Sdílená zařízení

            li(ng-class='{ active: is_active([ "/concurrent_users", "/concurrent_inst" ])}')
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Uživatelé v různých lokalitách současně
                span.caret
              ul.dropdown-menu(role='menu')

                li
                  a(ui-sref='concurrent_users') Vyhledávání

                li
                  a(ui-sref='concurrent_inst') Nejčastější realmy

            li(ng-class='{ active: is_active(["/failed_logins"])}')
              a(ui-sref='failed_logins') Neúspěšná přihlášení

            li(ng-class='{ active: is_active([ "/detection_data", "/detection_data_grouped" ])}', ng-show='user.role == "admin"')
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Analýza trendů
                span.caret
              ul.dropdown-menu(role='menu')

                li
                  a(ui-sref='detection_data') Absolutní počty

                li
                  a(ui-sref='detection_data_grouped') Normalizováno

        li(ng-class='{ active: is_active(["/roaming_activity", "/heat_map", "/orgs_roaming_most_provided", "/orgs_roaming_most_used" ])}')
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Statistiky
            span.caret
          ul.dropdown-menu(role='menu')

            li
              a(ui-sref='roaming_activity') Aktivita CZ eduroamu

            li
              a(ui-sref='heat_map') Mapa roamingu

            li
              a(ui-sref='orgs_roaming_most_provided') Organizace nejvíce poskytující konektivitu

            li
              a(ui-sref='orgs_roaming_most_used') Organizace nejvíce využívající roaming

      ul.nav.navbar-nav.navbar-right
          li(ng-show='user.role == "realm_admin"')
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Spravované realmy
              span.caret
            ul.dropdown-menu(role='menu')
              li(ng-repeat='realm in user.administered_realms', class="dropdown-header")
                | {{realm}}
              li.divider(role='separator')
              li
                a(ui-sref='notifications') Notifikace

          li(ng-show='user.groups.length > 1')
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Role: {{user.display_role}}
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(ng-click='change_role("user")', href='#') Zobrazit jako uživatel {{user.username}}

              li
                a(ng-click='change_role("realm_admin")', href='#') Zobrazit jako realm admin

              li(ng-show='user.groups.length > 2')
                a(ng-click='change_role("admin")', href='#') Zobrazit jako admin

footer.footer
  .container.text-center
    p.text-muted © 1996–2017 CESNET, z. s. p. o., Zikova 4, 160 00 Praha 6


