extends layout

block content
  //- navbar selected item
  -var selected = 'Organizace nejvíce poskytující roaming';

  div
    h2(id = "results_h")
    table(id = "results", class = "table table-bordered")

block includes
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/roaming.js')
