div.container-fluid(ng-controller="concurrent_inst_controller")
  div
    md-content(layout-padding='')
      h4 nejčastější dvojice institucí se současně vyskytujícími se uživateli
      form.form-horizontal(ng-submit="main_form.$valid && submit(main_form)" name="main_form", ng-model='form', novalidate)
        .form-group
          label.col-sm-2.control-label(for = 'min_date') Počáteční datum:
          .col-xs-2
            div(layout-gt-xs='row')
              input.form-control.flatpickr#min_date(type='text', ng-model='form_data.min_date')

        .form-group
          label.col-sm-2.control-label(for = 'max_date') Koncové datum:
          .col-xs-2
            div(layout-gt-xs='row')
              input.form-control.flatpickr#max_date(type='text', ng-model='form_data.max_date')
 
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") Hledej

  div(ng-show='submitted')
    .loading-indicator(ng-show='loading')

    div
      h4(ng-show='table_length == 0 && !paging.loading') Zadaným parametrům vyhledávání neodpovídají žádné záznamy.
      h4(ng-show='table_length > 0 && !paging.loading') Zobrazená data byla vypočtena z revize {{latest_revision}}.
      table.table.table-bordered.table-responsive(ng-show='paging.loading || table_length > 0')
        thead
          tr
            th Název instituce 1:
            th Název instituce 2:
            th Počet:
        tbody(ng-show='!paging.loading')
          tr(dir-paginate='row in table_data | itemsPerPage: table_length')
            td {{row.visinst_1}}
            td {{row.visinst_2}}
            td {{row.count}}
        tbody(ng-show='paging.loading')
          tr
            td.text-center(colspan='4')
              .loading-indicator

    .form-group(ng-show='table_length > 0')
      .col-xs-2
        button.btn.btn-default(type='button' ng-click='download_data()') Uložit data



