//- navbar selected item
-var selected = 'počet MAC adres';

div(ng-controller="failed_logins_controller")
  div
    md-content(layout-padding='')
      form.form-horizontal#main_form(ng-submit="submit()" novalidate)
        .form-group
          label.col-sm-2.control-label(for = 'min_date') Počáteční datum:
          .col-xs-2
            div(layout-gt-xs='row')
              input.flatpickr#min_date(type='text', ng-model='form_data.min_date')

        .form-group
          label.col-sm-2.control-label(for = 'max_date') Koncové datum:
          .col-xs-2
            div(layout-gt-xs='row')
              input.flatpickr#max_date(type='text', ng-model='form_data.max_date')
 
        .form-group(ng-repeat='option in options track by $index', ng-show='options_added')
          label.col-sm-2.control-label {{option.val}}
          .col-xs-2
            div(layout-gt-xs='row')
              input.form-control(type='text', ng-model='form_data[option.key]')
              .radio(ng-repeat='subopt in option.subopts')
                input(type='radio', name='{{option.val}}', ng-model="option.sel", ng-value='subopt.key')
                | {{subopt.val}}
                
        .form-group(ng-show='!options_added')
          label.col-sm-2.control-label Další možnosti
          .col-xs-2
            div(layout-gt-xs='row')
              button.btn.btn-default.addButton(type='button', ng-click='add_options()')
                i.fa.fa-plus

        .form-group(ng-show='options_added')
          label.col-sm-2.control-label Skrýt možnosti
          .col-xs-2
            div(layout-gt-xs='row')
              button.btn.btn-default.addButton(type='button', ng-click='delete_options()')
                i.fa.fa-minus

        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") Vykreslit graf

  div
    form.categories
      //label.col-xs-1.control-label
      //.col-xs-4
      //  div(layout-gt-xs='row')
      //    input#show_failed(type='checkbox')
      //    | Zobrazit neúspěšná přihlášení
    .loading-indicator(ng-show='loading')
    #graph(ng-show='!loading')



