// pouzit db_data api -> min a max pro vsechny grafy


//- navbar selected item
-var selected = 'Obecné Vyhledávání';

//script(src='/javascripts/d3.v3.js')
script(src='/javascripts/Chart.HeatMap.S.js')



div(ng-controller="graph_test_2_controller")
  div
    //pre.
    //  {{realms}}
    //pre.
    //  {{db_data}}
    //pre.
    //  {{failed_logins}}
    //pre.
    //  {{heat_map}}


  // varianta bez maleho okna
  //div
  //  canvas#heatmap(width='5000', height='5000')


  div(style='height: 600px; width: 800px; overflow-x: scroll;')
    canvas#heatmap(height='5000', width='5000', style='width: 5000px; height: 5000px;')






  //div
  //  form.form-horizontal(ng-submit="submit()")
  //    .form-group
  //      label.col-sm-2.control-label(for = 'min_date') Počáteční datum:
  //      .col-xs-5
  //        div(layout-gt-xs='row')
  //          div(flex-gt-xs)
  //            md-datepicker(ng-model="form_data['min_date']", md-placeholder='Vložte datum', md-open-on-focus)

  //    .form-group
  //      label.col-sm-2.control-label(for = 'max_date') Koncové datum:
  //      .col-xs-5
  //        div(layout-gt-xs='row')
  //          div(flex-gt-xs)
  //            md-datepicker(ng-model="form_data['max_date']", md-placeholder='Vložte datum', md-open-on-focus)

  //    .form-group
  //      .col-sm-offset-2.col-sm-10
  //        button.btn.btn-default(type="submit") Hledej










