// pouzit db_data api -> min a max pro vsechny grafy


//- navbar selected item
-var selected = 'Obecné Vyhledávání';


style.
  .axis--x path {
  display: none;
  }
  .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  }

script(src='/javascripts/d3.v4.min.js')

div(ng-controller="graph_test_3_controller")
  div
    svg(width='960', height='500')

    







