div.container-fluid(ng-controller="mac_count_controller")
  div
    h4 počet zařízení na uživatele
    form.form-horizontal(ng-submit="main_form.$valid && submit(main_form)" name="main_form", ng-model='form', novalidate)
      .form-group
        label.col-sm-2.control-label(for = 'min_date') Počáteční datum:
        .col-xs-2
          div(layout-gt-xs='row')
            input.form-control.flatpickr#min_date(type='text', ng-model='form_data.min_date')

      .form-group
        label.col-sm-2.control-label(for = 'max_date') Koncové datum:
        .col-xs-2
          div(layout-gt-xs='row')
            input.form-control.flatpickr#max_date(type='text', ng-model='form_data.max_date')

      div(ng-show='options_added')
        .form-group
          label.col-sm-2.control-label Uživatelské jméno:
          .col-xs-2
            div(layout-gt-xs='row')
              input.form-control(type='text', ng-model='options.username.val', ng-click='remove_anon()')
              .radio(ng-repeat='type in options.username.types track by $index')
                input(type='radio', name='username', ng-model='options.username.sel', ng-value='type')
                | {{options.username.type_names[$index]}}
              .checkbox
                input(type="checkbox", name='username', ng-click='add_anon()', ng-model='anon_sel')
                | Vyřadit anonymní uživatele

        .form-group
          label.col-sm-2.control-label Počet:
          .col-xs-2
            div(layout-gt-xs='row')
              input.form-control(type='text', ng-model='options.count.val')
              .radio(ng-repeat='type in options.count.types track by $index')
                input(type='radio', name='count', ng-model='options.count.sel', ng-value='type')
                | {{options.count.type_names[$index]}}

      .form-group(ng-show='!options_added')
        label.col-sm-2.control-label Další možnosti
        .col-xs-2
          div(layout-gt-xs='row')
            button.btn.btn-default.addButton(type='button', ng-click='add_options()')
              i.fa.fa-plus
      
      .form-group.ng-hide(ng-show='options_added')
        label.col-sm-2.control-label Skrýt možnosti
        .col-xs-2
          div(layout-gt-xs='row')
            button.btn.btn-default.addButton(type='button', ng-click='delete_options()')
              i.fa.fa-minus
      
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type='submit') Hledej

  div(ng-show='submitted')
    .form-group
      .col-xs-2
      label záznamů na stránku:
        select.form-control(ng-model='paging.items_by_page', ng-options='size for size in page_sizes')

    table.table.table-bordered.table-responsive#out
      thead
        tr
          th Uživatelské jméno:
          th Počet zařízení:
          th MAC adresy:
        tr
          th(colspan='2')
            input.input-sm.form-control(ng-model='paging.filters.username', placeholder='Uživatelské jméno', type='search', ng-change='filter_username()', ng-model-options='{ debounce: 250 }')
          th
            input.input-sm.form-control(ng-model='paging.filters.addrs', placeholder='MAC adresa', type='search', ng-change='filter_addrs()', ng-model-options='{ debounce: 250 }')
      tbody(ng-show='!paging.loading')
        tr(dir-paginate='row in table_data | itemsPerPage: paging.items_by_page ', total-items='paging.total_items')
          td
            a(ui-sref='search({pn : row.username})' target='_blank')
              | {{row.username}}
          td {{row.count}}
          td
            ul.list-inline
              li(ng-repeat='addr in row.addrs')
                a(ui-sref='search({pn : row.username, csi: addr})', target='_blank')
                  | {{addr}}
                b
                  | &nbsp;
      tbody(ng-show='paging.loading')
        tr
          td.text-center(colspan='4')
            .loading-indicator

    .form-group
      .col-xs-2
        button.btn.btn-default(type='button' ng-click='download_data()') Uložit data

    .text-center
      dir-pagination-controls(boundary-links='true', on-page-change='page_changed(newPageNumber)', template-url='partials/dirPagination.tpl.html')

