div.container-fluid(ng-controller="search_controller")
  .text-danger
    p
      | Nemáte dostatečná oprávnění pro přístup na tuto stránku. Pokud jste správce realmu, použijte pro přístup přihlášení pomocí CESNET účtu.

