div.container-fluid(ng-controller="orgs_roaming_most_provided_controller")
  div
    h4 organizace nejvíce poskytující konektivitu
    form.form-horizontal(ng-submit="main_form.$valid && submit(main_form)" name="main_form", ng-model='form', novalidate)
      .form-group
        label.col-sm-2.control-label(for = 'min_date') Počáteční datum:
        .col-xs-2
          div(layout-gt-xs='row')
            input.form-control.flatpickr#min_date(type='text', ng-model='form_data.min_date')

      .form-group
        label.col-sm-2.control-label(for = 'max_date') Koncové datum:
        .col-xs-2
          div(layout-gt-xs='row')
            input.form-control.flatpickr#max_date(type='text', ng-model='form_data.max_date')

      .form-group
        label.col-sm-2.control-label
        .col-xs-2
          div(layout-gt-xs='row')
            .radio(ng-repeat='opt in timestamp_opts')
              input(type='radio', name='timestamp', ng-model='$parent.timestamp', ng-value='opt', ng-click='timestamp_changed()')
              | {{opt}}

      .form-group(ng-repeat='option in options track by $index', ng-show='options_added')
        label.col-sm-2.control-label {{option.val}}:
        .col-xs-2
          div(layout-gt-xs='row')
            input.form-control(type='text', ng-model='form_data[option.key]')
            .radio(ng-repeat='subopt in option.subopts')
              input(type='radio', name='{{option.val}}', ng-model="option.sel", ng-value='subopt.key')
              | {{subopt.val}}
              
      .form-group(ng-show='!options_added')
        label.col-sm-2.control-label Počet institucí:
        .col-xs-2
          div(layout-gt-xs='row')
            input.form-control(type='number', ng-model='form_data.inst_count', value="25")

      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type="submit") Vykreslit graf

  div(ng-show='submitted')
    .loading-indicator(ng-show='loading')
    #graph(ng-show='!loading')

    div
      table.table.table-bordered.table-responsive
        thead
          tr
            th Název instituce:
            th Celkový počet využití:
            th Počet unikátních uživatelů:
        tbody(ng-show='!paging.loading')
          tr(dir-paginate='row in table_data | itemsPerPage: form_data.inst_count')
            td {{row.inst_name}}
            td {{row.provided_count}}
            td {{row.unique_count}}
        tbody(ng-show='paging.loading')
          tr
            td.text-center(colspan='4')
              .loading-indicator

    .form-group
      .col-xs-2
        button.btn.btn-default(type='button' ng-click='download_data()') Uložit data

