block content
  div
    h2(id = "results_h")
    table(id = "results", class = "table table-bordered")

  script.
    var selected = 'Organizace nejvíce poskytující roaming';

block includes
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/roaming.js')
