div(ng-controller="roaming_activity_controller")
  div
    md-content(layout-padding='')
      form.form-horizontal(ng-submit="submit()" name="main_form", novalidate)
        .form-group
          label.col-sm-2.control-label(for = 'min_date') Počáteční datum:
          .col-xs-2
            div(layout-gt-xs='row')
              input.form-control.flatpickr#min_date(type='text', ng-model='form_data.min_date')

        .form-group
          label.col-sm-2.control-label(for = 'max_date') Koncové datum:
          .col-xs-2
            div(layout-gt-xs='row')
              input.form-control.flatpickr#max_date(type='text', ng-model='form_data.max_date')
 
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") Vykreslit graf

  div
    .loading-indicator(ng-show='loading')
    #graph(ng-show='!loading')

