div(ng-controller="roaming_most_used_controller")
  div
    md-content(layout-padding='')
      form.form-horizontal#main_form(ng-submit="submit()" novalidate)
        .form-group
          label.col-sm-2.control-label(for = 'min_date') Počáteční datum:
          .col-xs-2
            div(layout-gt-xs='row')
              input.form-control.flatpickr#min_date(type='text', ng-model='form_data.min_date')

        .form-group
          label.col-sm-2.control-label(for = 'max_date') Koncové datum:
          .col-xs-2
            div(layout-gt-xs='row')
              input.form-control.flatpickr#max_date(type='text', ng-model='form_data.max_date')

        div(ng-show='options_added')
          .form-group
            label.col-sm-2.control-label Název instituce:
            .col-xs-2
              div(layout-gt-xs='row')
                input.form-control(type='text', ng-model='options.inst_name.val')
                .radio(ng-repeat='type in options.inst_name.types track by $index')
                  input(type='radio', name='inst_name', ng-model='options.inst_name.sel', ng-value='type')
                  | {{options.inst_name.type_names[$index]}}
 
          .form-group
            label.col-sm-2.control-label Počet čerpání:
            .col-xs-2
              div(layout-gt-xs='row')
                input.form-control(type='text', ng-model='options.used_count.val')
                .radio(ng-repeat='type in options.used_count.types track by $index')
                  input(type='radio', name='used_count', ng-model='options.used_count.sel', ng-value='type')
                  | {{options.used_count.type_names[$index]}}

          .form-group
            label.col-sm-2.control-label Počet poskytnutí:
            .col-xs-2
              div(layout-gt-xs='row')
                input.form-control(type='text', ng-model='options.provided_count.val')
                .radio(ng-repeat='type in options.provided_count.types track by $index')
                  input(type='radio', name='provided_count', ng-model='options.provided_count.sel', ng-value='type')
                  | {{options.provided_count.type_names[$index]}}

        .form-group(ng-show='!options_added')
          label.col-sm-2.control-label Další možnosti
          .col-xs-2
            div(layout-gt-xs='row')
              button.btn.btn-default.addButton(type='button', ng-click='add_options()')
                i.fa.fa-plus

        .form-group(ng-show='options_added')
          label.col-sm-2.control-label Skrýt možnosti
          .col-xs-2
            div(layout-gt-xs='row')
              button.btn.btn-default.addButton(type='button', ng-click='delete_options()')
                i.fa.fa-minus

        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") Vykreslit graf

  div
    .loading-indicator(ng-show='loading')
    #graph(ng-show='!loading')



