div.container-fluid(ng-controller="search_controller")
  div
    h4 obecné vyhledávání
    form.form-horizontal(ng-submit="check_empty() && submit(main_form)" name="main_form", ng-model='form', novalidate)
      .form-group
        label.col-sm-2.control-label(for = 'username') Uživatelské jméno:
        .col-xs-3
          select.form-control(ng-model='form_data.pn', ng-options='identity for identity in user.identities', ng-show='user.role == "user"')
          input.form-control(type = 'text', placeholder = 'uživatel@příklad.cz', ng-model='form_data.pn', ng-show='user.role != "user"', data-toggle="popover", data-content="Taktéž lze vyhledávat pomocí regulárního výrazu. Fungují všechny obvyklé regulární výrazy. Hledaný výraz je třeba uvavřít do lomítek.")

      .form-group
        label.col-sm-2.control-label(for = 'mac_address') MAC adresa:
        .col-xs-2
          input.form-control(type = 'text', placeholder = '12:34:56:78:ab:cd', ng-model='form_data.csi', data-toggle="popover", data-content="Lze použít libovolný formát adresy.")

      .form-group
        label.col-sm-2.control-label(for = 'result') Výsledek autentizace:
        .col-xs-2
          select.form-control(ng-model='form_data.result')
            each key, val in {"nezadáno" : "", "OK" : "OK", "FAIL" : "FAIL", "TIMEOUT" : "TIMEOUT"}
              option(value = key) #{val}

      .form-group(ng-show='user.role != "user"')
        label.col-sm-2.control-label(for = 'realm') Realm:
        .col-xs-2
          input.form-control(type = 'text', placeholder = 'příklad.cz', ng-model='form_data.realm')

      .form-group
        label.col-sm-2.control-label(for = 'visinst') Navštívená instituce:
        .col-xs-2
          input.form-control(type = 'text', placeholder = 'příklad.cz', ng-model='form_data.visinst')

      .form-group
        label.col-sm-2.control-label(for = 'min_date') Počáteční datum:
        .col-xs-2
          div(layout-gt-xs='row')
            input.form-control.flatpickr#min_date(type='text', ng-model='form_data.min_date')

      .form-group
        label.col-sm-2.control-label(for = 'max_date') Koncové datum:
        .col-xs-2
          div(layout-gt-xs='row')
            input.form-control.flatpickr#max_date(type='text', ng-model='form_data.max_date')

      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type="submit") Hledej
          p.help-block(ng-show='main_form.$submitted && empty')
            | Vyplňte alespoň některé z polí formuláře.

  div(ng-show='submitted && !error && !empty')
    .form-group
      .col-xs-2
      label záznamů na stránku:
        select.form-control(ng-model='paging.items_by_page', ng-options='size for size in page_sizes')

    h4(ng-show='paging.total_items == 0 && !paging.loading') Zadaným parametrům vyhledávání neodpovídají žádné záznamy.

    table.table.table-bordered.table-responsive#out(ng-show='paging.loading || paging.total_items > 0')
      thead
        tr
          th Výsledek autentizace:
          th
            a
              i.fa.fa-chevron-down(ng-if='sort_dir', ng-show='sort_dir' ng-click='change_sort()')
              i.fa.fa-chevron-up(ng-if='!sort_dir', ng-show='!sort_dir' ng-click='change_sort()')
            b Čas a datum:
          th Uživatelské jméno:
          th MAC adresa:
          th Realm:
          th Navštívená insituce:
      tbody(ng-show='!paging.loading')
        tr(dir-paginate='row in table_data | itemsPerPage: paging.items_by_page', total-items='paging.total_items')
          td.bg-success(ng-if='row.result == "OK"') {{row.result}}
          td.bg-warning(ng-if='row.result == "TIMEOUT"') {{row.result}}
          td.bg-danger(ng-if='row.result == "FAIL"') {{row.result}}
          td {{row.timestamp}}
          td {{row.username}}
          td {{row.mac_address}}
          td {{row.realm}}
          td {{row.visinst}}
      tbody(ng-show='paging.loading')
        tr
          td.text-center(colspan='6')
            .loading-indicator

    .form-group(ng-show='paging.total_items > 0')
      .col-xs-2
        button.btn.btn-default(type='button' ng-click='download_data()') Uložit data

    .text-center
      dir-pagination-controls(boundary-links='true', on-page-change='page_changed(newPageNumber)', template-url='partials/dirPagination.tpl.html')

  .text-danger(ng-show='error')
    p
      | Při vyhledávání došlo k chybě. Zkuste blíže specifikovat výsledky. V případě že potíže přetrvávají, kontaktujte správce aplikace.


