//- navbar selected item
-var selected = 'počet MAC adres';

div(ng-controller="shared_mac_controller")
  div
    md-content(layout-padding='')
      form.form-horizontal#main_form(ng-submit="submit()" novalidate)
        .form-group
          label.col-sm-2.control-label(for = 'min_date') Počáteční datum:
          .col-xs-2
            div(layout-gt-xs='row')
              input.flatpickr#min_date(type='text', ng-model='form_data.min_date')

        .form-group
          label.col-sm-2.control-label(for = 'max_date') Koncové datum:
          .col-xs-2
            div(layout-gt-xs='row')
              input.flatpickr#max_date(type='text', ng-model='form_data.max_date')
 
        .form-group(ng-repeat='option in options track by $index', ng-show='options_added')
          label.col-sm-2.control-label {{option.val}}
          .col-xs-2
            div(layout-gt-xs='row')
              input.form-control(type='text', ng-model='form_data[option.key]')
              .radio(ng-repeat='subopt in option.subopts')
                input(type='radio', name='{{option.val}}', ng-model="option.sel", ng-value='subopt.key')
                | {{subopt.val}}
                
        .form-group(ng-show='!options_added')
          label.col-sm-2.control-label Další možnosti
          .col-xs-2
            div(layout-gt-xs='row')
              button.btn.btn-default.addButton(type='button', ng-click='add_options()')
                i.fa.fa-plus

        .form-group(ng-show='options_added')
          label.col-sm-2.control-label Skrýt možnosti
          .col-xs-2
            div(layout-gt-xs='row')
              button.btn.btn-default.addButton(type='button', ng-click='delete_options()')
                i.fa.fa-minus

        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") Hledej

  div(ng-show='submitted')
    .form-group
      .col-xs-2
      label záznamů na stránku:
        select.form-control(ng-model='paging.items_by_page', ng-options='size for size in page_sizes')

    table.table.table-bordered.table-responsive
      thead
        tr
          th MAC adresa
          th počet uživatelů
          th uživatelé
        tr
          th
            input.input-sm.form-control(ng-model='paging.filters.mac_address', placeholder='MAC adresa', type='search', ng-change='filter_mac_address()', ng-model-options='{ debounce: 250 }')
          th(colspan='4')
            input.input-sm.form-control(ng-model='paging.filters.users', placeholder='uživatelské jméno', type='search', ng-change='filter_users()', ng-model-options='{ debounce: 250 }')
      tbody(ng-show='!paging.loading')
        tr(dir-paginate='row in data | itemsPerPage: paging.items_by_page ', total-items='paging.total_items')
          td
            a(ui-sref='search({csi : row.mac_address})', target='_blank')
              | {{row.mac_address}}
          td {{row.count}}
          td
            a(ng-repeat='user in row.users' ui-sref='search({pn : user, csi: row.mac_address})', target='_blank')
              | {{user}} 
      tbody(ng-show='paging.loading')
        tr
          td.text-center(colspan='4')
            .loading-indicator

    .text-center
      dir-pagination-controls(boundary-links='true', on-page-change='page_changed(newPageNumber)', template-url='dirPagination.tpl.html')

