/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/

a {
  color: #00B7FF;
}

/*
#results {
  border: 1px solid black;
}

#results * {
  border: 1px solid black;
  padding: 5px;
}
*/

.OK {
  background-color:#00FF00
}

.FAIL {
  background-color:#FF0000
}

.TIMEOUT {
  background-color:#FFFF00
}

/* animace pro vyhledavani */

#loader {
  margin-top: 25%;  /* spravna pocize vuci modalu */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#loader .diamond {
  /* zmeny */
  /*
  opacity: 1;
  */

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background: #1C78C5;
  -webkit-transform: translateY(0) rotate(45deg) scale(0);
  -ms-transform: translateY(0) rotate(45deg) scale(0);
  transform: translateY(0) rotate(45deg) scale(0);
  -webkit-animation: diamonds 1500ms linear infinite;
  animation: diamonds 1500ms linear infinite;
}
#loader .diamond:nth-child(1) {
  -webkit-animation-delay: -1000ms;
  animation-delay: -1000ms;
}
#loader .diamond:nth-child(2) {
  -webkit-animation-delay: -2000ms;
  animation-delay: -2000ms;
}
#loader .diamond:nth-child(3) {
  -webkit-animation-delay: -3000ms;
  animation-delay: -3000ms;
}
#loader .diamond:nth-child(4) {
  -webkit-animation-delay: -4000ms;
  animation-delay: -4000ms;
}

@-webkit-keyframes diamonds {
  50% {
    -webkit-transform: translateY(-50px) rotate(45deg) scale(1);
    transform: translateY(-50px) rotate(45deg) scale(1);
  }
  100% {
    -webkit-transform: translateY(-100px) rotate(45deg) scale(0);
    transform: translateY(-100px) rotate(45deg) scale(0);
  }
}

@keyframes diamonds {
  50% {
    -webkit-transform: translateY(-50px) rotate(45deg) scale(1);
    transform: translateY(-50px) rotate(45deg) scale(1);
  }
  100% {
    -webkit-transform: translateY(-100px) rotate(45deg) scale(0);
    transform: translateY(-100px) rotate(45deg) scale(0);
  }
}

#myModal {
  opacity: 1;
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  background-color: #000000;
  border-radius: 15px;
}

/*
.modal-body {
  position: fixed;
  top: 45%;
  left: 45%;
  right: 45%;
  bottom: 45%;
  background-color: #00FF00;
}
*/

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}
