body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px;
}

.OK {
  background-color:#00FF00
}

.FAIL {
  background-color:#FF0000
}

.TIMEOUT {
  background-color:#FFFF00
}

