body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px;
}

.OK {
  background-color:#00FF00
}

.FAIL {
  background-color:#FF0000
}

.TIMEOUT {
  background-color:#FFFF00
}

#content {
  width: 320px;
}

input {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  margin: 0;
  width: 170px;
  margin-left: 0;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  height: 16px;
  padding: 4px 6px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  transition: border linear .2s, box-shadow linear .2s;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  float: right;
}

select {
  -webkit-appearance: menulist-button;
  width: 221px;
  height: 27px;
  font-size: 13px;
  width: 170px !important;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  line-height: 30px;
  border-radius: 4px;
  font-weight: normal;
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-writing-mode: horizontal-tb;
  float: right;
}

/* animace pro vyhledavani */
body {
  background: #fff;
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#loader .diamond {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background: #1C78C5;
  -webkit-transform: translateY(0) rotate(45deg) scale(0);
  -ms-transform: translateY(0) rotate(45deg) scale(0);
  transform: translateY(0) rotate(45deg) scale(0);
  -webkit-animation: diamonds 1500ms linear infinite;
  animation: diamonds 1500ms linear infinite;
}
#loader .diamond:nth-child(1) {
  -webkit-animation-delay: -1000ms;
  animation-delay: -1000ms;
}
#loader .diamond:nth-child(2) {
  -webkit-animation-delay: -2000ms;
  animation-delay: -2000ms;
}
#loader .diamond:nth-child(3) {
  -webkit-animation-delay: -3000ms;
  animation-delay: -3000ms;
}
#loader .diamond:nth-child(4) {
  -webkit-animation-delay: -4000ms;
  animation-delay: -4000ms;
}

@-webkit-keyframes diamonds {
  50% {
    -webkit-transform: translateY(-50px) rotate(45deg) scale(1);
    transform: translateY(-50px) rotate(45deg) scale(1);
  }
  100% {
    -webkit-transform: translateY(-100px) rotate(45deg) scale(0);
    transform: translateY(-100px) rotate(45deg) scale(0);
  }
}

@keyframes diamonds {
  50% {
    -webkit-transform: translateY(-50px) rotate(45deg) scale(1);
    transform: translateY(-50px) rotate(45deg) scale(1);
  }
  100% {
    -webkit-transform: translateY(-100px) rotate(45deg) scale(0);
    transform: translateY(-100px) rotate(45deg) scale(0);
  }
}

/* overlay */
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #9E9E9D;
    opacity: 0.75;
}

/* Overlay effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 0.75;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

