body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer > .container > .text-muted {
  margin: 5px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

